:root {
    --accent1: #5d5c61;
    --transparent: #5d5c6165;
}

nav {
    background-color: var(--accent1);
}

body {
    font-family: 'Arial', sans-serif;
}

#intro-section {
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.pfp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    object-fit: cover;
    /* border-radius: 50%; */
    border-radius: 30% 70% 60% 40% / 40% 60% 40% 60%; /* asymmetric crop */
    height: 25rem;
    width: 25rem;
}

.intro-text {
    max-width: 400px;
    align-items: center;
    text-align: left;
}

.banner {
    background-image: url("images/teaching.jpeg");
    min-height: 30rem;
  
    /* parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  }

.teaching-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--transparent);
    color: white;
    padding:20px;
    max-width: 20%;
    max-height: 25rem;
}

#professional {
    margin: 5rem;
}

.job-title {
    font-weight: bold;
}

.box {
    background-color: var(--accent1);
    margin: 2rem;
}