body {
    font-family: 'Arial', sans-serif;
}

.pfp {
    display: flex;
    align-items: center;
    justify-content: right;
}

.profile-img {
    object-fit: cover;
    /* border-radius: 50%; */
    border-radius: 30% 70% 50% 50% / 40% 60% 40% 60%; /* asymmetric crop */
    height: 100px;
    width: 100px;
}

.intro-text {
    max-width: 400px;
    text-align: left;
}